<h1>Formulario para adicionar motorista</h1>

Nome:      <input type="text" ng-model="motorista.nome"      /><br/>
Email:     <input type="text" ng-model="motorista.email"     /><br/>
CEP:       <input type="text" ng-model="motorista.cep"       /><br/>
Cidade:    <input type="text" ng-model="motorista.cidade"    /><br/>
Endereço:  <input type="text" ng-model="motorista.endereco"  /><br/>
UF:        <input type="text" ng-model="motorista.estado"    /><br/>
Inscrição: <input type="text" ng-model="motorista.inscricao" /><br/>

<button class="btn btn-primary " ng-click="gravar()">Gravar</button>

