<style>
    .jumbotron{
         width: auto;
        margin-top: 10px;
        margin-right: 5px;
        font-family: Arial;
    }
    .campos{
        width: 300px;
        margin-bottom: 2px;
    }
    
</style>   
<div class="container">
    <div class="jumbotron">
        <h4>Formulario para adicionar motorista</h4>  
         Nome: <input class="campos" type="text" ng-model="motorista.nome"  placeholder="Nome"    /> 
         E-mail: <input class="campos"  type="text" ng-model="motorista.email" placeholder="Email"     />
        <input class="form-control" type="text" ng-model="motorista.cep" placeholder="CEP"      />
        <input class="form-control" type="text" ng-model="motorista.cidade" placeholder="Cidade"   />
        <input class="form-control" type="text" ng-model="motorista.endereco" placeholder="Endereço"  />
        <input class="form-control" type="text" ng-model="motorista.estado"  placeholder="UF"  />
        <input class="form-control" type="text" ng-model="motorista.inscricao" placeholder="Inscrição" />
        <button class="btn btn-primary " ng-click="gravar()">Gravar</button>
    </div>    
</div>
