<h3>Formulario para editar motorista</h3>  
<input class="form-control"  type="text" ng-model="motorista.nome"  placeholder="Nome"    /> 
<input class="form-control"  type="text" ng-model="motorista.email" placeholder="Email"     />
<input class="form-control" type="text" ng-model="motorista.cep" placeholder="CEP"      />
<input class="form-control" type="text" ng-model="motorista.cidade" placeholder="Cidade"   />
<input class="form-control" type="text" ng-model="motorista.endereco" placeholder="Endereço"  />
<input class="form-control" type="text" ng-model="motorista.estado"  placeholder="UF"  />
<input class="form-control" type="text" ng-model="motorista.inscricao" placeholder="Inscrição" />
<button class="btn btn-primary form-control" ng-click="gravar()">Gravar</button>

