<style>
    .jumbtron{
        width: 200px;
        height: 500px;
        margin-top: 50px;
        margin-bottom: 10px;
        margin-left: 10px;
        font-family: Arial;
        background-color: yellowgreen;
    }
    .form_control{
        margin-top: 5px;
        margin-left: 3px;
        margin-bottom: 3px;
        appearance: field;
    }
    .btn{
        margin-left: 3px;
    }
    .dadosBusca
    {
        margin-left: 201px;
        margin-right: 5px;
    }
</style>
<div class="jumbtron">
    <p class="form-control"> Buscar serviço de frete </p>
    Cidade:
    <input class="form_control" type="text" ng-model="cidade"/>
    <button class="btn btn-primary"  ng-click="buscarMotorista">Buscar m</button>
</div>